html {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  color: $black;
  font-size: 1rem;
  text-transform: lowercase;
}

// Header Styles
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
  line-height: $headingLineHeight;

  a {
    font-weight: inherit;
  }
}

p {
  margin-bottom: 1rem;
}

// Text Styles
em { font-style: italic; }
strong { font-weight: bold; }
.--uppercase { text-transform: uppercase; }
.--lowercase { text-transform: lowercase; }