
.picture {
  display: block;
  max-width: 90%;
  text-align: center !important;
  margin: 1rem auto;

  img {
    border: 0;
    max-height: 20rem;
    max-width: 100%;
    height: auto;
}

  p {
    font-size: 1.15rem !important;
    margin: 0.5rem;
    text-align: center !important;
    color: $silver-l3;
    padding: 0 !important;
    font-weight: 500;
  }


  &.--doodle {
    max-width: 90%;
  }

}

@media (min-width: 500px) {
  .picture {
    max-width: 95%;

    img {
      border: 0;
      border-radius: .3rem;
    }
  }
}

@media (min-width: 760px) {
  .picture {
    max-width: 80%;
    padding: .5rem;
    margin: 1rem auto !important;
  }
}