.input {
  float: left;
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding: .5rem 1rem;
  border: 0;
  border-radius: 3rem;
  font-weight: 600;
  text-align: left;
  color: $silver-d3;
  background-color: $silver-l8;

  &:focus {
    background-color: $silver-l7;
    color: $silver-d3;
  }

  &::placeholder {
    color: $silver-l2;
  }
}