.main {
  h1, h2, h3, h4 {
    padding: 0 .5rem;
    margin: .75rem 0;
    text-align: center;
  }

  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.35rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  p {
    padding: 1rem .5rem;
    font-size: 1.25rem;
    line-height: 140%;
    text-align: left;

    a {
      color: $blue-d1;
      font-weight: 600;
      
      &:hover {
        color: $blue-d4;
        text-decoration: underline;
      }
    }
  }
} 


@media (min-width: 1000px) {
  main > p {
    padding: .5rem;
  }
}