//? COLORS

$green    : #30DB36; // dorkodian green (dorkodu's brand color)
$silver   : #627384; // silver (dorkodu-style gray)
$blue     : #269DD9; // carolina blue (in peace with dorkodian green)
$red      : #e54634; // cinnabar (slightly pinkish, pastel red)
$yellow   : #F2AD0D; // honey/golden
$purple   : #460DF2; // ultramarine

//? DIFFERENT COLOR TONES

//* primary theme color
$primary: $yellow;
$primary-l1: lighten($primary, 10%);
$primary-l2: lighten($primary, 20%);
$primary-l3: lighten($primary, 25%);
$primary-l4: lighten($primary, 30%);
$primary-l5: lighten($primary, 35%);
$primary-l6: lighten($primary, 40%);
$primary-l7: lighten($primary, 45%);
$primary-l8: lighten($primary, 50%);
$primary-d1: darken($primary, 10%);
$primary-d2: darken($primary, 15%);
$primary-d3: darken($primary, 20%);
$primary-d4: darken($primary, 25%);
$primary-d5: darken($primary, 30%);
$primary-d6: darken($primary, 40%);

//* silver
$silver-l1: lighten($silver, 10%);
$silver-l2: lighten($silver, 20%);
$silver-l3: lighten($silver, 25%);
$silver-l4: lighten($silver, 30%);
$silver-l5: lighten($silver, 35%);
$silver-l6: lighten($silver, 40%);
$silver-l7: lighten($silver, 45%);
$silver-l8: lighten($silver, 50%);
$silver-d1: darken($silver, 10%);
$silver-d2: darken($silver, 15%);
$silver-d3: darken($silver, 20%);
$silver-d4: darken($silver, 25%);
$silver-d5: darken($silver, 30%);
$silver-d6: darken($silver, 40%);

//* blue
$blue-l1: lighten($blue, 10%);
$blue-l2: lighten($blue, 20%);
$blue-l3: lighten($blue, 25%);
$blue-l4: lighten($blue, 30%);
$blue-l5: lighten($blue, 35%);
$blue-l6: lighten($blue, 40%);
$blue-l7: lighten($blue, 45%);
$blue-l8: lighten($blue, 50%);
$blue-d1: darken($blue, 10%);
$blue-d2: darken($blue, 15%);
$blue-d3: darken($blue, 20%);
$blue-d4: darken($blue, 25%);
$blue-d5: darken($blue, 30%);
$blue-d6: darken($blue, 40%);

//* red
$red-l1: lighten($red, 10%);
$red-l2: lighten($red, 20%);
$red-l3: lighten($red, 25%);
$red-l4: lighten($red, 30%);
$red-l5: lighten($red, 35%);
$red-l6: lighten($red, 40%);
$red-l7: lighten($red, 45%);
$red-l8: lighten($red, 50%);
$red-d1: darken($red, 10%);
$red-d2: darken($red, 15%);
$red-d3: darken($red, 20%);
$red-d4: darken($red, 25%);
$red-d5: darken($red, 30%);
$red-d6: darken($red, 40%);

//* yellow
$yellow-l1: lighten($yellow, 10%);
$yellow-l2: lighten($yellow, 20%);
$yellow-l3: lighten($yellow, 25%);
$yellow-l4: lighten($yellow, 30%);
$yellow-l5: lighten($yellow, 35%);
$yellow-l6: lighten($yellow, 40%);
$yellow-l7: lighten($yellow, 45%);
$yellow-l8: lighten($yellow, 50%);
$yellow-d1: darken($yellow, 10%);
$yellow-d2: darken($yellow, 15%);
$yellow-d3: darken($yellow, 20%);
$yellow-d4: darken($yellow, 25%);
$yellow-d5: darken($yellow, 30%);
$yellow-d6: darken($yellow, 40%);

//* purple
$purple-l1: lighten($purple, 10%);
$purple-l2: lighten($purple, 20%);
$purple-l3: lighten($purple, 25%);
$purple-l4: lighten($purple, 30%);
$purple-l5: lighten($purple, 35%);
$purple-l6: lighten($purple, 40%);
$purple-l7: lighten($purple, 45%);
$purple-l8: lighten($purple, 50%);
$purple-d1: darken($purple, 10%);
$purple-d2: darken($purple, 15%);
$purple-d3: darken($purple, 20%);
$purple-d4: darken($purple, 25%);
$purple-d5: darken($purple, 30%);
$purple-d6: darken($purple, 40%);