// Fonts
$sansSerif  : '-apple-system, BlinkMacSystemFont, "Rubik", "Roboto", "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Helvetica", "Ubuntu", "Noto", arial, sans-serif';

// Font Sizing
$baseFontSize      : 16px;
$baseLineHeight    : 1;
$headingLineHeight : 1.25;

// Colors
$black : #20202F;

// Breakpoints
$breakpointS1 : 320px;
$breakpointS2 : 360px;
$breakpointS3 : 400px;
$breakpointS4 : 460px;
$breakpointS5 : 500px;
$breakpointS6 : 600px;
$breakpointM  : 760px;
$breakpointL1 : 1000px;
$breakpointL2 : 1200px;
$breakpointL3 : 1400px;
$breakpointL4 : 1600px;
$breakpointL5 : 1800px;