//? fonts
$sansSerif  : '-apple-system, BlinkMacSystemFont, "Rubik", "Roboto", "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Helvetica", "Ubuntu", "Noto", arial, sans-serif';

// font sizing
$baseFontSize      : 16px;
$baseLineHeight    : 1;
$headingLineHeight : 1.25;

//? theme coloring

$color_PageBackground      : #ffffff;
$color_ComponentBackground : #ffffff;
$color_Text                : #1f252e;